
.read_book_page.x-layout-card-item{
    background:#fff;
}

@media (min-width: 600px) and (max-width: 767px) {    
    .ownedbooklist .ownedbook_detail td.book_title{       
        width: 178px;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .ownedbooklist .ownedbook_detail td.book_title{       
        width: 100%;
        max-width: 130px;
        min-width: 100px;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .study-titlebar.x-toolbar .resume.x-button{      
        width: 127px;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;        
    }
    .study-titlebar.x-toolbar .x-button{
        padding-left:10px !important;
        padding-right:5px !important;  
    }
    .my-titlebar.x-toolbar .resume.x-button{
        margin-left:5px !important;
        margin-right:5px !important;
        margin-top:0.01em !important;  
    }
    .x-tabbar.x-docked-top .x-tab.x-tab-icon .x-button-label {
        top: -0.5em !important;
    }
    .my-titlebar.x-toolbar .x-button{
        padding: 0px 11px !important;
    }  
}
@media (min-width: 980px) and (max-width: 1024px){   
    .ownedbooklist .ownedbook_detail td.book_title{      
        width: 224px;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .x-tabbar.x-docked-top .x-tab.x-tab-icon .x-button-label {
        top: -0.5em !important;
    }    
}
@media (min-width: 1025px) and (max-width: 1280px) {  
    .ownedbooklist .ownedbook_detail td.book_title{      
        width: 209px;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }
} 
  
/****************************************/
.reader_option{
    border: 1px solid #000;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important; 
    padding:8px;
    background-color: #dddfe2;
}
.reader_option img{
    padding: 0px 20px 0px 10px;
    margin-bottom: -5px;    
}
.reader_config{
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;    
}
.reader_config .reader_config_title{   
    margin-top: 5px;
    margin-right: 10px;    
}
.reader_config .x-button{
    margin-left:20px;
}
.reader_config_slider .x-form-label{
    background-color: #fff;
    padding-left:0px;
}
.reader_config_slider .x-form-label span{
    font-size: 1.0em;
    font-weight: normal !important;   
}
.projct_list{
    margin-top:10px;
}
.projct_list.x-list .x-list-item.x-list-item-tpl .x-innerhtml{
    padding: 0px !important;
}
.projct_list.x-list-normal .x-list-item.x-list-item-tpl {
    border-top: none;
    background: none;
    border-bottom : none;     
}

/***** Color Piekr ****/

.color-dataview-item{
    width : 1.2em;
    height : 1.2em;
    float:left;  
    margin:3px 0px 0px 2px;  
}

.popup_panel .recent_open_book{
    margin:10px 20px;    
}
.book_list{   
    float:left;   
}
.book_icon{   
    float:left;        
}
.book_text{      
     margin-left:10px;
     float:right;         
}

/********** Custom Tabs Icons **********/

.x-tab .x-button-icon.bookstore, .x-button .x-button-icon.x-icon-mask.bookstore {
    background-image: url(../images/bookstore-tab-icon.png);
    width:25px !important;
    height: 25px !important;
    padding-top:5px;    
}
.x-tab .x-button-icon.owned, .x-button .x-button-icon.x-icon-mask.owned {
    background-image: url(../images/home-tab-icon.png);
    width:25px !important;
    height: 24px !important;
    padding-top:5px;    
}
.x-tab .x-button-icon.free, .x-button .x-button-icon.x-icon-mask.free {
    background-image: url(../images/free-tab-icon.png);
    width:25px !important;
    height: 25px !important;
    padding-top:5px;    
}
.x-tab .x-button-icon.bookinfo, .x-button .x-button-icon.x-icon-mask.bookinfo {
    background-image: url(../images/tab_info_icon.png);
    width:24px !important;
    height: 23px !important;   
    margin-left: 3px !important;
}
.x-tab .x-button-icon.bookmark, .x-button .x-button-icon.x-icon-mask.bookmark {
    background-image: url(../images/tab_bookmark_icon.png);
    width:21px !important;
    height: 24px !important;
    margin-left: 3px !important;
}
.x-tab .x-button-icon.namedtags, .x-button .x-button-icon.x-icon-mask.namedtags {
    background-image: url(../images/tabs_tags_icon.png);
    width:21px !important;
    height: 21px !important; 
    margin-left: 3px !important;
}
.x-tab .x-button-icon.notes, .x-button .x-button-icon.x-icon-mask.notes {
    background-image: url(../images/tab_notes_icon.png);
    width:21px !important;
    height: 21px !important;  
    margin-left: 3px !important;
}
.x-tab .x-button-icon.highlights, .x-button .x-button-icon.x-icon-mask.highlights {
    background-image: url(../images/tab_highlights_icon.png);
    width:11px !important;
    height: 15px !important;
    margin-left: 8px !important;
}
